.google-map{
    height:80vh;
    width:100vw;
}
.navbar-wrapper{
    display: flex;
    padding-bottom: 10px;
}
a{
    padding-right: 8px;
    text-decoration: none;
}
.orange{
 color: orangered
}
.fa-location-arrow{
    transform: rotate(180deg) scaleY(-1);
}
.title{
    text-align: center;
    font-size: 50px;
    font-family: 'Archivo Black', sans-serif;
    margin-top: -3px;
    margin-bottom: -10px;
}
.description{
    padding-bottom: 7px;
    font-size: 20px;
}
