.google-map{
    height:80vh;
    width:100vw;
}
.navbar-wrapper{
    display: flex;
}
a{
    padding-right: 8px;
    text-decoration: none;
}
.orange{
 color: orangered
}
.fa-location-arrow{
    transform: rotate(180deg) scaleY(-1);
}
