.google-map{
    height:80vh;
    width:100vw;
}
.navbar-wrapper{
    display: flex;
    padding-bottom: 10px;
}
a{
    padding-right: 8px;
    text-decoration: none;
}
.title{
    text-align: center;
    font-size: 50px;
    font-family: 'Archivo Black', sans-serif;
    margin-top: -3px;
    margin-bottom: -10px;
}